/*
Jumbotron
*************/
.jumbotron {
	@include flex-column;
	height: 100%;
	justify-content: center;
	@media (max-width: 935px) {
 		div {
 			h1 {
 				font-size: 2.5em;
 			}
 			p {
 				font-size: .9em;
 			}
 		}
 	}
}